@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Prata&display=swap");
// VARS
$mg-x: 12.5em;
$dimension: 0.15em;
$small-txt: 1rem;
$big-text: 1.8rem;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  z-index: 100;
  position: relative;
}
body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.flex-container {
  display: flex;
  margin: 0 $mg-x;
}

.icon {
  position: relative;
  color: black;
  height: 30px;
  width: 30px;
  &__search {
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.big-text {
  font-size: $big-text;
}

.norm_text {
  padding: 1em 0;
  font-size: $small-txt;
}
/* Nav styles */
nav {
  display: flex;
  margin: 2.5em $mg-x;
  border-bottom: 1px solid black;
  h1 {
    font-family: "Prata", serif;
    letter-spacing: 0.001rem;
  }
  ul {
    margin-left: auto;
    display: flex;
    li {
      padding: 0.5em;
    }
  }
}

button {
  border: $dimension solid black;
  position: relative;
  height: 45px;
  width: 80px;
  margin-left: 3em;
  background-color: #b4fec9;

  &:before,
  &:after {
    content: "";
    position: absolute;
    transition: all 0.15s ease-in-out;
  }

  &.news {
    position: relative;
    &:after {
      border: $dimension dashed black;
      bottom: $dimension * -1;
      left: $dimension * -1;
      right: $dimension * -1;
      top: $dimension * -1;
    }
    &:hover:after,
    &:focus:after {
      bottom: $dimension;
      left: $dimension;
      right: $dimension;
      top: $dimension;
    }
  }
}

// Search styles

.search {
  display: flex;
  align-items: center;
  & input {
    margin-left: 1em;
    height: 30px;
    width: 250px;
  }
}

.display {
  font-size: $small-txt;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-around;
  &_stock_name {
    color: #0085ff;
    padding-bottom: 0.3em;
  }
  &_stock_price {
    padding-bottom: 0.3em;
  }
}

//StockCard styles

.card {
  &__button {
    display: flex;
    justify-content: center;
    margin-left: -2em;
    align-items: center;

    button {
      width: 120px;
      height: 70px;
      color: white;
      background-color: #458fff;
      border-color: black;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 1.5em;
      a {
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 10;
      }
    }
  }
  &__container {
    display: flex;
    margin: 4em $mg-x;
    border: 1px solid #4ca7fc;
    min-height: 175px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    & > * {
      flex: 2;
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > * {
      padding: 0.5em;
    }
  }
  &__change {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info {
    margin: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
  }
}

.info-group {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  & > * {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
  }
}

#full-text {
  text-align: center;
  width: 80%;
}

#news-info {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.dropInfo::after {
  content: attr(data);
  display: inline;
  position: absolute;
  top: 22px;
  left: 0;
  opacity: 0;
  width: 200px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5em 0.8em;
  background: #7e7272;
  pointer-events: none;
  transition: all 0.2s;
}

.dropInfo:hover::after {
  opacity: 1;
  top: 32px;
}

//Media queries

@media screen and (max-width: 1400px) {
  nav {
    margin: 2.5em 4em;
  }
  .flex-container {
    margin: 0 4em;
  }
  .card__container {
    margin: 4em;
  }
}
